playtime.ipynb
sample_congressional_data.json
/data
.env
finnhub_json_to_csv.rmd
header.jpg
query.jpg
data.zip
.Rhistory
/Data_Description_HUYNH_v1_files
/Data_Description_HUYNH_v2_files
/Documents
Appendix.html
Appendix.rmd
Data_Description_HUYNH_v1.log
Data_Description_HUYNH_v1.pdf
Data_Description_HUYNH_v1.rmd
Data_Description_HUYNH_v1.tex
Data_Description_HUYNH_v1.ttt
Data_Description_HUYNH_v2.log
Data_Description_HUYNH_v2.pdf
Data_Description_HUYNH_v2.rmd
Data_Description_HUYNH_v2.tex
Data_Description_HUYNH_v2.ttt
Data_Visualization_HUYNH_v1.docx
Data_Visualization_HUYNH_v1.pdf
Data_Visualization_HUYNH_v1.rmd
Methods_Revision_HUYNH_v1.rmd
Thesis_Paper_HUYNH_v1.rmd
/Methods_Revision_HUYNH_v1_files
Methods_Revision_HUYNH_v1.log
Methods_Revision_HUYNH_v1.pdf
Methods_Revision_HUYNH_v1.tex
Methods_Revision_HUYNH_v1.ttt
/Results_Draft_HUYNH_v1_files
Dataset Overview.png
Overall Lag Descriptive Statistics.png
Results_Draft_HUYNH_v1.log
Results_Draft_HUYNH_v1.pdf
Results_Draft_HUYNH_v1.rmd
Results_Draft_HUYNH_v1.tex
Results_Draft_HUYNH_v1.ttt
Trades Count by Gender.png
Trades Count by Party.png