playtime.ipynb
sample_congressional_data.json
/data
.env
finnhub_json_to_csv.rmd
header.jpg
query.jpg
data.zip
.Rhistory
/Data_Description_HUYNH_v1_files
/Data_Description_HUYNH_v2_files
/Documents
Appendix.html
Appendix.rmd
Data_Description_HUYNH_v1.log
Data_Description_HUYNH_v1.pdf
Data_Description_HUYNH_v1.rmd
Data_Description_HUYNH_v1.tex
Data_Description_HUYNH_v1.ttt
Data_Description_HUYNH_v2.log
Data_Description_HUYNH_v2.pdf
Data_Description_HUYNH_v2.rmd
Data_Description_HUYNH_v2.tex
Data_Description_HUYNH_v2.ttt
Data_Visualization_HUYNH_v1.docx
Data_Visualization_HUYNH_v1.pdf
Data_Visualization_HUYNH_v1.rmd
Methods_Revision_HUYNH_v1.rmd
Thesis_Paper_HUYNH_v1.rmd
/Methods_Revision_HUYNH_v1_files
Methods_Revision_HUYNH_v1.log
Methods_Revision_HUYNH_v1.pdf
Methods_Revision_HUYNH_v1.tex
Methods_Revision_HUYNH_v1.ttt
/Results_Draft_HUYNH_v1_files
Dataset Overview.png
Overall Lag Descriptive Statistics.png
Results_Draft_HUYNH_v1.log
Results_Draft_HUYNH_v1.pdf
Results_Draft_HUYNH_v1.rmd
Results_Draft_HUYNH_v1.tex
Results_Draft_HUYNH_v1.ttt
Trades Count by Gender.png
Trades Count by Party.png
/Abstract_Draft_HUYNH_v1_files
/Discussion_Draft_HUYNH_v1_files
/Discussions_HUYNH_v1_files
/Final_Paper_Draft_HUYNH_v1_files
/Results_Draft_HUYNH_v2_files
/Results_Draft_HUYNH_v3_files
/star_files
Abstract_Draft_HUYNH_v1.fff
Abstract_Draft_HUYNH_v1.log
Abstract_Draft_HUYNH_v1.pdf
Abstract_Draft_HUYNH_v1.rmd
Abstract_Draft_HUYNH_v1.tex
Abstract_Draft_HUYNH_v1.ttt
Discussion_Draft_HUYNH_v1.log
Discussion_Draft_HUYNH_v1.pdf
Discussion_Draft_HUYNH_v1.rmd
Discussion_Draft_HUYNH_v1.tex
Discussion_Draft_HUYNH_v1.ttt
Discussions_HUYNH_v1.docx
Discussions_HUYNH_v1.rmd
Final_Paper_Draft_HUYNH_v1.fff
Final_Paper_Draft_HUYNH_v1.log
Final_Paper_Draft_HUYNH_v1.pdf
Final_Paper_Draft_HUYNH_v1.tex
Final_Paper_Draft_HUYNH_v1.ttt
Final_Paper_Draft_HUYNH_v1.rmd
Final_Paper_HUYNH_v1.fff
Final_Paper_HUYNH_v1.log
Final_Paper_HUYNH_v1.pdf
Final_Paper_HUYNH_v1.rmd
Final_Paper_HUYNH_v1.tex
Final_Paper_HUYNH_v1.ttt
Lag by Gender.png
Lag by Political Party.png
Results_Draft_HUYNH_v2.log
Results_Draft_HUYNH_v2.pdf
Results_Draft_HUYNH_v2.rmd
Results_Draft_HUYNH_v2.tex
Results_Draft_HUYNH_v2.ttt
Results_Draft_HUYNH_v3.log
Results_Draft_HUYNH_v3.pdf
Results_Draft_HUYNH_v3.rmd
Results_Draft_HUYNH_v3.tex
Results_Draft_HUYNH_v3.ttt
Robert Corker 2014 Transactions.gif
Robert Corker March 2014 PTR.png
star.html
Trades Count by Political Party.png